.wrapper{max-width: 600px;min-width: 360px;min-height: 100%;margin: 0 auto;}

/* 공통 */ 
section {position: relative;overflow: hidden;}
.sec2, .sec3, .sec4, .sec5, .sec6, .sec7{display: flex;flex-direction: column;justify-content: center;align-items: center;text-align: center;}
.sec_title{padding-top: 16px;font-weight: 700;font-size: 28px;line-height: 36px;text-align: center;color: #0F182A;}
.sec_text{font-weight: 400;font-size: 14px;line-height: 22px;text-align: center;letter-spacing: -0.01em;color: #667085;}
.pink_gra_text{display: block; padding-top: 60px;font-weight: bold;font-size: 16px;line-height: 16px;text-align: center;letter-spacing: -0.01em;text-transform: uppercase;background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.green_gra_text{display: block;padding-top: 60px;font-weight: 600;font-size: 16px;line-height: 16px;text-align: center;letter-spacing: -0.01em;text-transform: uppercase;background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(267.74deg, #C4D600 0%, #16E29D 99.74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.pink_text{display: block;font-weight: 700;font-size: 20px;line-height: 26px;color: #F22DAC;}
.s_text{font-size: 16px;font-weight: 500;}
.br_360_block{display: none;}
.br_360_none{display: block;}

.uverse_header{position:fixed;left:0; top: 0;width: 100%;min-width: 360px;height: 52px;margin: 0 auto;z-index: 30; background: #fff;}
.uverse_header h1{width: 158px;height: 22px;margin: 16px 24px;background: url(../../resources/images/campus_mo_logo.png) center no-repeat;}
.uverse_header h1 a{display:block;overflow:hidden; width:158px; height:22px; text-indent: -999px;}
.uverse_header .menuOpen{display:block;position: absolute;top: 50%;right: 5%;width: 22px;height: 17px;z-index: 2;transform: translate(-5%, -50%);transition: all 0.3s ease;}
.uverse_header .mainMenu.open{right: 0;pointer-events: all;}
.uverse_header .menuOpen .bar{display: block;position: relative;top: 9px;left: 0;width: 0;height: 2px;border-radius: 3px;background:#333;}
.uverse_header .menuOpen .bar:before{content:'';position: absolute; left: 0;top: 0;	width: 22px;height: 2px;border-radius: 3px;background:#333;transition: transform 0.1s;}
.uverse_header .menuOpen .bar:after{content:'';position: absolute; left: 0;top: 0;width: 22px;height: 2px;border-radius: 3px;background:#333;transition: transform 0.1s;}
.uverse_header .menuOpen:before{content:'';position: absolute; right: 0; top:0;width: 22px; height: 2px;background:#333;border-radius: 3px;transition: width 0.1s 0.2s;}
.uverse_header .menuOpen:after{content:'';position: absolute; left: 0; top: 18px;width: 22px; height: 2px;background:#333;border-radius: 3px;transition: width 0.1s 0.2s;}
.uverse_header .menuOpen.toggle span:before{transform: rotate(45deg);transition: transform 0.1s 0.4s;}  
.uverse_header .menuOpen.toggle span:after{transform: rotate(-45deg);transition: transform 0.1s 0.4s}
.uverse_header .menuOpen.toggle:before {width: 0; right: 0; bottom: 17px;}
.uverse_header .menuOpen.toggle:after {width: 0; left: 0; top: 17px;}
.uverse_header .mainMenu{position: fixed;top: 0;right: -100%;width: 53%;height: 100%;transition: all .6s ease-out;pointer-events: none;background:#fff;border: 1px solid #ebebeb;}


/* 로그아웃_01  */
.uverse_header #gnb .login_status_01{display: flex;flex-direction: row;justify-content: space-between;align-items: center;gap: 8px;height: 94px;margin-top: 52px;padding: 24px 20px;background: #F9FAFF;}
.uverse_header #gnb .login_arrow_btn{background: url(../../resources/images/login_arrow_btn.png) center no-repeat;width: 24px;height: 24px;}
.uverse_header #gnb .login_be{display: flex; align-items: center;}
.uverse_header #gnb .login_be .login_be_title{font-weight: 700;font-size: 16px;line-height: 100%;color: #0F182A;margin-left: 8px;}
/* 로그아웃_01_02 공통 */
.uverse_header #gnb .my_room{position: relative;display: flex;align-items: center;width: 284px;height: 46px;padding-top: 32px;padding-left: 24px;}
.uverse_header #gnb .my_room a{background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 700;font-size: 16px;line-height: 18px;}
.uverse_header #gnb .my_room::after{content:'';background: url(../../resources/images/campus_my_room_arrow.png) center no-repeat;position: absolute;top: 29px;left: 106px;width: 24px;height: 24px;}
.uverse_header #gnb .mainMenu .nav_manu{display: flex;flex-direction: column;gap: 28px;padding: 33px 24px 40px;text-align: left;}
.uverse_header #gnb .mainMenu .nav_manu li a{font-weight: 500;font-size: 15px;line-height: 18px;color: #3E4A62;transition:all .5s ease-out;}
.uverse_header #gnb .home_btns{display: flex;align-items: center;justify-content: center;width: 268px;height: 46px;margin-left: 16px;background: #F1F3FB;border-radius: 40px;}
.uverse_header #gnb .home_btns li{font-weight: 500;font-size: 14px;line-height: 17px;text-align: center;letter-spacing: -0.01em;color: #667085;}
.uverse_header #gnb .home_btns .home_btn_01::after{content: '';width: 0px;height: 16px;margin-left: 38.5px;margin-right: 30.5px;opacity: 0.5;border: 1px solid #ACB3C1;}
/* 로그아웃_02  */
.uverse_header #gnb .login_status_02{display: flex;flex-direction: row;align-items: center;gap: 8px;height: 94px;margin-top: 52px;padding: 24px 20px;background: #F9FAFF;}
.uverse_header #gnb .login_af{display: flex;align-items: flex-start;flex-direction: column; padding-left: 8px;}
.uverse_header #gnb .login_af_title{padding-bottom: 8px;font-weight: 700;font-size: 16px;line-height: 20px;color: #0F182A;}
.uverse_header #gnb .login_af .login_af_text{display: flex;align-items: center;}
.uverse_header #gnb .login_af .login_af_text li{font-weight: 400;font-size: 13px;line-height: 18px;letter-spacing: -0.02em;color: #3E4A62;}
.uverse_header #gnb .login_af .login_af_text_01{position: relative;padding-right: 32px;}
.uverse_header #gnb .login_af .login_af_text_01::after{content: '';width: 1px;height: 12px;position: absolute;top: 2px;left: 50px;background: rgba(138, 145, 164, 0.5);}
.uverse_header #gnb .mainMenu .nav_manu .log_out a{color: #8A91A4;}
.uverse_header #gnb .mainMenu .nav_manu li a:hover{transition:all .5s ease-out;text-decoration: underline;}

/* 팝업 백그라운드*/
.modal_back{display: none;position: fixed;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100vh;z-index: 10;background: rgba(0, 0, 0, .6);}
/* 닉네임 변경 팝업 */
.change_nic_box{display: none;position: fixed;left: 50%;top: 50%;margin-left: -26%;margin-top: -86px;z-index: 1000;    width: 290px;height: 241px;padding: 16px;background: #FFFFFF;box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 50px rgba(0, 0, 0, 0.15);border-radius: 8px;text-align: center;}
.nic_box_con{display: flex;flex-direction: column;}
.change_nic_box .nic_box_tit{font-weight: 700;font-size: 17px;line-height: 160%;letter-spacing: 0.01em;color: #0F182A;}.change_nic_box .nic_box_text{padding-top: 8px;padding-bottom: 16px;font-weight: 500;font-size: 15px;line-height: 140%;color: #667085;opacity: 0.9;}
.change_nic_form{margin-bottom: 4px;border: 1px solid #E6E8F1;border-radius: 8px;}
.change_nic_form input{width: 100%;height: 48px;padding: 12px 8px 12px 16px;border: 0;      }
.change_nic_form input:focus{ outline: 1px solid #F22DAC;border-radius: 8px; color: #0F182A;}
.nic_pop_bottom{display: flex;gap: 4px;}
.nic_pop_bottom button{width: 127px;height: 46px;padding: 16px;border-radius: 8px}
.cancel_btn{font-weight: 500;font-size: 15px;line-height: 14px;letter-spacing: -0.01em;color: #3E4A62;border: 1px solid rgba(205, 209, 218, 0.5);}
.change_btn{width: 142px;height: 46px;padding: 16px;font-weight: 600;font-size: 15px;line-height: 14px;letter-spacing: -0.01em;color: #373C45;opacity: 0.4;background: #E6E8F1;}
.change_btn:active, 
.change_btn:focus{background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);font-weight: 700;color: #FFFFFF;opacity: 1;} 
.nic_box_desc{position: relative;padding: 1px 1px 16px 17px;font-weight: 400;font-size: 12px;line-height: 12px;letter-spacing: -0.01em;color: #F52C1D;text-align: left;}
.nic_box_desc::before{content: '!';position:absolute ;top: 0;left: 0;width: 16px;height: 16px;padding: 2.5px 6.5px;color: #fff;background: #F52C1D;border-radius: 100%;}
.nic_box_con .close_btn{position: relative;top: 0;left: 246px;width: 12px;height: 12px;}
.close_btn:before, .close_btn:after {content: ' ';position: absolute;top: 0;left: 6px;width: 1.2px;height: 12px;background-color: #151619;}
.close_btn:before {transform: rotate(45deg);}
.close_btn:after {transform: rotate(-45deg);}
.form-notice {display: flex; font-size: 12px; font-weight: 400; color: #F52C1D; line-height: 1.5;}
.form-notice.error:before {content: ''; display: inline-block; width: 18px; height: 18px; margin-right: 3px;background: url(../../resources/images/error-icon.png) no-repeat center;}
.uverse_header .mainMenu.layer_mainMenu{right: 0;}
.school_mo_wrap .alliance .sec-btn{background: linear-gradient(267.74deg, #C4D600 0%, #16E29D 99.74%);}
.school_mo_wrap .change_nic_box .change_btn:active, .school_mo_wrap .change_btn:focus{background: linear-gradient(267.74deg, #C4D600 0%, #16E29D 99.74%);color: #3E4A62;}

@media (max-width: 420px){
.uverse_header .mainMenu{width: 87%;}
.change_nic_box{margin-top: -208px;margin-left: -40%;}
.close_btn{left: 246px;}
}

/* sec1  */
.sec1{padding-top: 52px;}
.sec1 .sec1_con{display: flex;flex-direction: column;justify-content: center;align-items: center;height: 680px;text-align: center;color: #fff;}
.sec1 .visual_title{position: relative;font-weight: 700;font-size: 36px;line-height: 48px;}
.sec1 .visual_text{position: relative;padding-top: 18.77px;font-weight: 400;font-size: 13px;line-height: 140%;letter-spacing: -0.01em;}
.sec1 .sec_btn{position: relative; display: inline-block;width: 200px;height: 46px;padding-top: 32px;padding: 16px 20px;background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);border-radius: 100px;font-weight: 600;font-size: 14px;line-height: 14px;letter-spacing: -0.02em;}
.sec1 .sec1_swiper_01{background: url(../../resources/images/campus_mo_visual_01.jpg) center no-repeat;}
.sec1 .sec1_swiper_02{background: url(../../resources/images/campus_mo_visual_02.jpg) center no-repeat;}
.sec1 .sec1_mySwiper .swiper-slide::before{content: "";opacity: 0.15;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;background: rgb(111 19 104);}
/* sec1 swiper-bundle 수정부분 */
.sec1 .sec1_mySwiper .swiper-pagination-bullet-active{width: 20px;height: 6px;background: #FFFFFF;border-radius: 25px;}
.sec1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{top: 642px;}
.sec1 .swiper-pagination-bullet{width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,6px));height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,6px));background: rgba(255, 255, 255, 0.5);opacity: 1;}

/* sec2  */
.sec2{align-items: center;background: #F9FAFF;}
.sec2 .sec2_img_01{background: url(../../resources/images/campus_mo_M_sec2_01.png) center no-repeat;width: 410px;height: 360px;margin: 32px auto 0;}
.sec2 .sec2_img_02{background: url(../../resources/images/campus_pc_sec2_06.png) center no-repeat;width: 364px;height: 80px;margin: 76px auto 70px;}
.sec2 .sec2_con{display: flex;flex-wrap: wrap;align-items: center;justify-content: center;width: 672px;margin-top: 2px;gap: 16px;}
.sec2 .sec2_con li{display: flex;align-items: center;justify-content: center;flex-direction: column;width: 242px;height: 258px;padding: 24px 40px;background: #FFFFFF;box-shadow: 0px 18px 40px rgb(112 144 176 / 12%);border-radius: 24px;}
.sec2 .sec2_con .con_title{display: flex;align-items: center;text-align: center;justify-content: center;padding-top:16px; font-weight: 700;font-size: 18px;line-height: 140%;color: #0F182A;}
.sec2 .sec2_con .con_text{padding-top: 10px;text-align: center;font-weight: 400;font-size: 14px;line-height: 20px;letter-spacing: -0.02em;color: #8A91A4;}
.sec2 .con_inner_01::before{content: '';background: url(../../resources/images/campus_pc_sec2_02.png) center no-repeat;width: 34px;height: 35px;}
.sec2 .con_inner_02::before{content: '';background: url(../../resources/images/campus_pc_sec2_03.png) center no-repeat;width: 34px;height: 35px;}
.sec2 .con_inner_03::before{content: '';background: url(../../resources/images/campus_pc_sec2_04.png) center no-repeat;width: 34px;height: 35px;}
.sec2 .con_inner_04::before{content: '';background: url(../../resources/images/campus_pc_sec2_05.png) center no-repeat;width: 34px;height: 35px;}
    
/* sec3 */
.sec3 .sec3_con{display: flex;flex-direction: column;}
.sec3 .pink_gra_text {background: linear-gradient(269.8deg, #C716E3 23.9%, #F22DAC 46.04%, #FEAF6D 69.37%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
.sec3 .con_inner_02{padding-top: 68.24px;}
.sec3 .con_title{padding-top: 16px;font-weight: 700;font-size: 28px;line-height: 36px;color: #0F182A;}
.sec3 .con_text{padding-top: 24px;font-weight: 400;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: -0.02em;color: #667085;}
.sec3 .sec3_img_01{background: url(../../resources/images/campus_mo_M_sec3_01.png) center no-repeat;width: 486px;height: 253px;margin-top: 40.89px;}
.sec3 .sec3_img_02{background: url(../../resources/images/campus_mo_M_sec3_02.png) center no-repeat;width: 574px;height: 315px;margin-top: 38px;margin-bottom: 22px;}

/* sec4 */
.sec4{padding-bottom: 60px;background: #F9FAFF;}
.sec4 .swiper_btn{display: flex;flex-wrap: wrap;justify-content: center;align-items: center;width: 488px;margin: 32px auto 0;gap: 8px 4px;}
.sec4 .swiper_btn li{display: flex;align-items: center;justify-content: center;cursor: pointer;width: auto;padding: 10px 14px;background: #FFFFFF;color: #8A91A4;letter-spacing: -0.01em;border-radius: 100px;box-shadow: 0px 5px 40px rgb(112 144 176 / 12%);height: 34px;font-weight: 600;font-size: 13px;line-height: 14px;}
.sec4 .swiper_btn li:nth-child(6), .sec4 .swiper_btn li:nth-child(10){margin-right: 0;}
.sec4 .swiper_btn .on, .sec4 .swiper_btn .active{background: rgba(239, 28, 218, 0.1);color: #F22DAC;}
.sec4 .swiper-container{width: 100%;height: 100%;}
.sec4 .con_title{font-weight: 700;font-size: 22px;line-height: 40px;color: #2B2F44;}
.sec4 .con_text{padding-top: 10px;font-weight: 500;font-size: 14px;line-height: 140%;color: #8A91A4;}
.sec4 .sec4_mySwiper .swiper-slide div{width: 574px;height: 315px;}
.sec4 .sec4_img_01{background: url(../../resources/images/campus_mo_M_sec4_01.png) center no-repeat;}
.sec4 .sec4_img_02{background: url(../../resources/images/campus_mo_M_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_03{background: url(../../resources/images/campus_mo_M_sec4_03.png) center no-repeat;}
.sec4 .sec4_img_04{background: url(../../resources/images/campus_mo_M_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_05{background: url(../../resources/images/campus_mo_M_sec4_05.png) center no-repeat;}
.sec4 .sec4_img_06{background: url(../../resources/images/campus_mo_M_sec4_06.png) center no-repeat;}
.sec4 .sec4_img_07{background: url(../../resources/images/campus_mo_M_sec4_07.png) center no-repeat;}
.sec4 .sec4_img_08{background: url(../../resources/images/campus_mo_M_sec4_08.png) center no-repeat;}
.sec4 .sec4_img_09{background: url(../../resources/images/campus_mo_M_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_10{background: url(../../resources/images/campus_mo_M_sec4_02.png) center no-repeat;}

/* sec4 swiper-bundle 수정부분 */
.sec4 .swiper-slide {display: flex;align-items: center;flex-direction: column;margin-top: 10px;}
.sec4 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{top: auto;bottom: 188px;}
.sec1 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 var(--swiper-pagination-bullet-horizontal-gap,2px);}
.sec4 .swiper-pagination-bullet-active {background: var(--swiper-pagination-bullet-inactive-color, #667085);}

/* sec5 */
.sec5 .sec5_con_01{padding-top: 81px;}
.sec5 .con_title{font-weight: 700;font-size: 28px;line-height: 36px;text-align: center;color: #0F182A;}
.sec5 .con_text{padding-top: 24px;font-weight: 400;font-size: 14px;line-height: 20px;text-align: center;letter-spacing: -0.02em;color: #667085;}
.sec5 .sec5_con_02{padding-top: 18px;}
.sec5 .sec_btn{position: absolute;bottom: 74px;left: 186px;width: 228px;height: 46px;background: transparent;}

/* sec6 */
.sec6{padding-bottom: 60px; background: #F9FAFF;text-align: left;color: #fff;}
.sec6 .sec6_con{position: relative;display: flex;justify-content: center;align-items: center;flex-direction: column;gap: 10px;}
.sec6 .sec6_con li{position: relative;width: 524px;height: 180px;padding: 20px 24px;font-weight: 700;font-size: 20px;line-height: 120%;}
.sec6 .sec6_con li .view_btn{position: absolute;bottom: 16px;left: 24px;font-weight: 600;font-size: 12px;line-height: 10px;color: #F9FAFF;}
.sec6 .sec6_con li .view_btn::after{content: '';position: absolute; background: url(../../resources/images/view_mo_btn.png) center no-repeat;width: 10px;height: 10px;margin-left: 8px;}
.sec6 .sec6_con li::after{width: 269px;height: 168px;position: absolute;top: 9.3px;right: 24.09px;}
.sec6 .con_inner_01::after{content: '';background: url(../../resources/images/campus_mo_M_sec6_01.png) center no-repeat;}
.sec6 .con_inner_02::after{content: '';background: url(../../resources/images/campus_mo_M_sec6_02.png) center no-repeat;}
.sec6 .con_inner_03::after{content: '';background: url(../../resources/images/campus_mo_M_sec6_03.png) center no-repeat;}
.sec6 .con_inner_01{content: '';background: linear-gradient(153.43deg, #0085FF 13.02%, #A3F0E7 96.92%);border-radius: 16px;}
.sec6 .con_inner_02{content: '';background: linear-gradient(102.95deg, #D24CEE 9.58%, #BD99FF 65.55%, #C9ABFF 87.28%);border-radius: 16px;}
.sec6 .con_inner_03{content: '';background: linear-gradient(153.43deg, #4F18B4 13.02%, #1F99FB 96.92%);border-radius: 16px;}

/* sec7 */
.sec7{justify-content: unset;padding: 44px 0 60PX;background: #0F182A;text-align: left;}
.sec7 .sec_title{font-size: 26px;line-height: 140%;letter-spacing: -0.01em;color: #F9FAFF;}
.sec7 .sec7_con{display: flex;align-items: center;width: 600px; padding-top: 24px;padding-left: 20px;}
.sec7 .sec7_con li{margin-right: 16px;}
.sec7 .sec7_con li:last-child{margin-right: 0;}
.sec7 .sec7_con .con_title{padding-top: 8px;font-weight: 600;font-size: 14px;line-height: 15px;color: #F9FAFF;}
.sec7 .sec7_con .con_text{padding-top: 2px;font-size: 11px;font-weight: 500;line-height: 12px;color: #8A91A4;}

/* footer */
#footer{width: 100%;padding-bottom: 80px;background-color: #E6E8F1; font-size: 13px;}
#footer .inner_wrap{max-width: 600px;min-width: 360px; margin: 0 auto; color: #8A91A4;text-align: left;}
#footer .footer_top .footer_top_text{padding: 25px 40.5px;font-weight: 700;font-size: 16px;line-height: 10px;color: #667085;}
#footer .footer_top .footer_top_text .footer_s_text{font-weight: 400;font-size: 11px;line-height: 10px;color: #8A91A4;}
#footer .footer_body{border-top: 1px solid #D4D7E2; padding: 26px 40px 0;display: flex;}
#footer .footer_body li{font-weight: 700;font-size: 12px;line-height: 10px;color: #667085;}
#footer .footer_body li::after{content: ''; display: inline-block; width: 1px; height: 15px; margin: 0 12px; background-color: #8A91A4; vertical-align: top;}
#footer .footer_body li:last-child::after{display: none;}
#footer .footer_bottom{padding: 24px 40px 0;font-weight: 500;font-size: 12px;line-height: 17px;display: flex;flex-wrap: wrap;letter-spacing: -0.01em;}
#footer .footer_bottom li::after{content: ''; display: inline-block; width: 1px; height: 13px; margin: 0 8px; background-color: #8A91A4;vertical-align: middle;}
#footer .footer_bottom li:nth-child(3)::after, #footer .footer_bottom li:last-child::after{display: none;}


@media (max-width: 420px){
/* 공통 */
.br_360_block{display: block;}
.br_360_none{display: none;}
.sec_title{padding-top: 8px;font-size: 26px;font-weight: 600;letter-spacing: -0.01em;}
.sec_desc_03{line-height: 23px;}

/* sec1  */
.sec1 .sec1_con{height:500px;}
.sec1 .visual_title{font-size: 30px;line-height: 40px;}
.sec1 .visual_text{font-weight: 500;font-size: 14px;line-height: 20px;}
.sec1 .sec_btn{position: relative; display: inline-block;width: 200px;height: 46px;margin-top: 32px;padding: 16px 20px;background: linear-gradient(269.8deg, #C716E3 1.9%, #F22DAC 48.04%, #FEAF6D 101.37%);border-radius: 100px;font-weight: 600;font-size: 14px;line-height: 14px;letter-spacing: -0.02em;}
.sec1 .sec1_swiper_01{background: url(../../resources/images/campus_mo_visual_S_01.jpg) center no-repeat;}
.sec1 .sec1_swiper_02{background: url(../../resources/images/campus_mo_visual_S_02.jpg) center no-repeat;}
.sec1 .sec1_mySwiper .swiper-slide::before{content: "";opacity: 0.15;position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;background: rgb(111 19 104);}

/* sec2  */
.sec2 .s_text{font-size: 12px;}
.sec2 .sec2_img_01{background: url(../../resources/images/campus_mo_S_sec2_01.png) center no-repeat;width: 320px;height: 350px;margin: 29px auto -16px;}
.sec2 .sec2_img_02{background: url(../../resources/images/campus_mo_S_sec2_02.png) center no-repeat;width: 278px;height: 60px;margin: 56px auto 58px;}
.sec2 .sec2_con{width: auto;flex-direction: column;gap: 16px;}
.sec2 .sec2_con li{margin: 0 auto;width: 320px;height: 190px;padding: 18px 40px;}
.sec2 .sec2_con .con_title{font-size: 16px;}
.sec2 .sec2_con .con_text{line-height: 140%;}

/* sec3  */
.sec3 .con_text {padding-top: 16px;line-height: 22px;letter-spacing: -0.01em;}
.sec3 .sec3_img_01{background: url(../../resources/images/campus_mo_S_sec3_01.png) center no-repeat;width: 318px;height: 165px;margin-top: 60px;}
.sec3 .sec3_img_02{background: url(../../resources/images/campus_mo_S_sec3_02.png) center no-repeat;width: 360px;height: 233px;margin-top: 8px;margin-bottom: 5.62px;}
.sec3 .con_inner_02{padding-top: 0;}

/* sec4  */
.sec4 .con_title{font-size: 16px;line-height: 140%;}
.sec4 .con_text{padding-top: 8px;font-weight: 400;line-height: 150%;}
.sec4 .swiper_btn{width: 420px;gap: 4px 2px;}
.sec4 .sec4_mySwiper .swiper-slide div{width: 360px;height: 233px;}
.sec4 .sec4_img_01{background: url(../../resources/images/campus_mo_S_sec4_01.png) center no-repeat;}
.sec4 .sec4_img_02{background: url(../../resources/images/campus_mo_S_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_03{background: url(../../resources/images/campus_mo_S_sec4_03.png) center no-repeat;}
.sec4 .sec4_img_04{background: url(../../resources/images/campus_mo_S_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_05{background: url(../../resources/images/campus_mo_S_sec4_05.png) center no-repeat;}
.sec4 .sec4_img_06{background: url(../../resources/images/campus_mo_S_sec4_06.png) center no-repeat;}
.sec4 .sec4_img_07{background: url(../../resources/images/campus_mo_S_sec4_07.png) center no-repeat;}
.sec4 .sec4_img_08{background: url(../../resources/images/campus_mo_S_sec4_08.png) center no-repeat;}
.sec4 .sec4_img_09{background: url(../../resources/images/campus_mo_S_sec4_02.png) center no-repeat;}
.sec4 .sec4_img_10{background: url(../../resources/images/campus_mo_S_sec4_02.png) center no-repeat;}
/* sec4 swiper-bundle 수정부분 */
.sec4 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{top: auto;bottom: 191px;}

/* sec5  */
.sec5 .con_title{font-size: 26px;letter-spacing: -0.01em;}
.sec5 .con_text{padding-top: 8px;line-height: 22px;letter-spacing: -0.01em;}
.sec5 .sec5_con_02{padding-bottom: 2px;}
.sec5 .sec_btn{bottom: 76px;left: 66px;}
.sec5 .sec5_con_01{padding-top: 60px;}
/* sec6 */
.sec6{height: auto;background: #fff;}
.sec6 .sec6_con li{width: 320px;height: 140px;font-size: 17px;line-height: 16px;}
.sec6 .sec6_con li::after{width: 165px;height: 112px;position: absolute;top: 16px;left: 130px;}
.sec6 .con_inner_01::after{background: url(../../resources/images/campus_mo_S_sec6_01.png) center no-repeat;}
.sec6 .con_inner_02::after{background: url(../../resources/images/campus_mo_S_sec6_02.png) center no-repeat;}
.sec6 .con_inner_03::after{background: url(../../resources/images/campus_mo_S_sec6_03.png) center no-repeat;}

/* sec7 */
.sec7 .sec7_con{width: 360px;}
.sec7 .sec_title{font-size: 24px;}
/* footer */
#footer{height: 300px;}
#footer .footer_top .footer_top_text{padding: 25px 24.5px;}
#footer .footer_top .footer_top_text .footer_s_text{font-weight: 500;}
#footer .footer_body{padding: 27px 24px 0;}
#footer .footer_bottom{width: 332px;padding: 16px 24px 0;font-size: 11px;line-height: 18px;}
#footer .footer_bottom li::after{content: ''; display: inline-block; width: 1px; height: 13px; margin: 0 8px; background-color: #8A91A4;vertical-align: middle;}
#footer .footer_bottom li:nth-child(1)::after, #footer .footer_bottom li:nth-child(5)::after{display: none;}
}

/* 스쿨*/
.school_mo_wrap .sec1_swiper_01{background: url(../../resources/images/school_mo_visual_M_01.jpg) center no-repeat;}
.school_mo_wrap .sec1_swiper_02{background: url(../../resources/images/school_mo_visual_M_02.jpg) center no-repeat;}
.school_mo_wrap  #gnb .my_room a{background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), linear-gradient(267.74deg, #C4D600 0%, #16E29D 99.74%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;font-weight: 700;font-size: 16px;line-height: 18px;}
.school_mo_wrap  #gnb .my_room::after{content:'';background: url(../../resources/images/school_my_room_arrow.png) center no-repeat;position: absolute;top: 29px;left: 106px;width: 24px;height: 24px;}
.school_mo_wrap .sec1 .sec1_mySwiper .swiper-slide::before{content: "";position: absolute;top: 0px;left: 0px;right: 0px;bottom: 0px;background: linear-gradient(0deg, #C4D61A 0%, #00935a 50.74%);opacity: 0.5;}
.school_mo_wrap .sec2 .sec_text{display: flex;flex-direction: column;gap: 20px;padding: 24px 0 32px;}
.school_mo_wrap .sec2 .sec2_img_01{width: 424px;height: 237px;margin: 12.3px auto 5.3px;background: url(../../resources/images/school_mo_M_sec2_01.png) center no-repeat;}
.school_mo_wrap .sec2_con_01{position:relative;width: 488px;background: #FFFFFF;box-shadow: 0px 6.07427px 12.1485px rgba(52, 87, 140, 0.12);border-radius: 24px;}
.school_mo_wrap .sec2_con_01_desc{padding-left: 22.12px;padding-top: 19.41px;font-weight: 700;font-size: 12px;line-height: 10px;text-align: left;color: #667085;}
.school_mo_wrap .sec2_con_01 .graph_texts{position:relative;display: flex;flex-direction: column;gap: 16px;padding-left: 42px;padding-bottom: 51.06px;font-weight: 600;font-size: 16px;line-height: 140%;color: #3E4A62;text-align: left;}
.school_mo_wrap .sec2_con_01 .graph_texts li p{margin-left: 30px;font-weight: 600;font-size: 16px;line-height: 140%;color: #3E4A62;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_02 dl{padding-bottom: 15px;padding-left: 30px;font-size: 14px;line-height: 20px;letter-spacing: -0.02em;color: #8A91A4;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_03 dl{padding-left: 30px;   font-weight: 400;font-size: 14px;line-height: 20px;letter-spacing: -0.02em;color: #3E4A62;}   
.school_mo_wrap .sec2_con_01 .graph_texts li dt{text-decoration-line: underline;padding-top: 8px;padding-bottom: 9.71px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_01::before{content: '';display: block;position:absolute;top: 0; left: 42px;width: 22px;height: 23px;background: url(../../resources/images/school_mo_M_sec2_02.png) center no-repeat;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_02::before{content: '';position:absolute;top: 38px; left: 42px;width: 22px;height: 23px;background: url(../../resources/images/school_mo_M_sec2_03.png) center no-repeat;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_03::before{content: '';position:absolute;top: 189.71px; left: 42px;width: 22px;height: 23px;background: url(../../resources/images/school_mo_M_sec2_04.png) center no-repeat;}
.school_mo_wrap .sec2{padding-top: 0;}
.school_mo_wrap .sec2 .sec2_con{display: flex;flex-wrap: wrap;align-items: center;justify-content: center;gap: 16px;padding-top: 24px;padding-bottom: 60px; }
.school_mo_wrap .sec2 .sec2_con li{gap: 16px;padding: 24px;}
.school_mo_wrap .sec2 .con_inner_01,.school_mo_wrap .sec2 .con_inner_02,.school_mo_wrap .sec2 .con_inner_05{height: 188px;}
.school_mo_wrap .sec2 .con_inner_03, .school_mo_wrap .sec2 .con_inner_04{height: 210px;}
.school_mo_wrap .sec2 .sec2_con .con_title{padding-top: 0;}
.school_mo_wrap .sec2 .con_inner_01::before{content: '';background: url(../../resources/images/school_mo_M_sec2_05.png) center no-repeat;width: 38px;height: 30px;}
.school_mo_wrap .sec2 .con_inner_02::before{content: '';background: url(../../resources/images/school_mo_M_sec2_06.png) center no-repeat;width: 38px;height: 30px;}
.school_mo_wrap .sec2 .con_inner_03::before{content: '';background: url(../../resources/images/school_mo_M_sec2_07.png) center no-repeat;width: 38px;height: 30px;}
.school_mo_wrap .sec2 .con_inner_04::before{content: '';background: url(../../resources/images/school_mo_M_sec2_08.png) center no-repeat;width: 38px;height: 30px;}
.school_mo_wrap .sec2 .con_inner_05::before{content: '';background: url(../../resources/images/school_mo_M_sec2_09.png) center no-repeat;width: 38px;height: 30px;}
.school_mo_wrap .sec3 .sec3_con{padding: 4px 0 0;}
.school_mo_wrap .sec3 .sec3_con .con_title{padding-top: 20px; font-size: 14px;line-height: 20px;letter-spacing: -0.02em;color: #3E4A62;}
.school_mo_wrap .sec3 .sec3_con .con_text{padding-top: 0;color: #3E4A62;}
.school_mo_wrap .sec3 .sec3_img_01{background: url(../../resources/images/school_mo_M_sec3_01.png) center no-repeat;width: 520px;height: 554px;margin-top: 0;margin-bottom: 58.48px;}
.school_mo_wrap .sec4{padding-top: 0;}
.school_mo_wrap .sec4 .sec4_img_01{background: url(../../resources/images/school_mo_M_sec4_01.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_02{background: url(../../resources/images/school_mo_M_sec4_02.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_03{background: url(../../resources/images/school_mo_M_sec4_03.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_04{background: url(../../resources/images/school_mo_M_sec4_02.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_05{background: url(../../resources/images/school_mo_M_sec4_05.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_06{background: url(../../resources/images/school_mo_M_sec4_06.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_07{background: url(../../resources/images/school_mo_M_sec4_07.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_08{background: url(../../resources/images/school_mo_M_sec4_08.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_09{background: url(../../resources/images/school_mo_M_sec4_09.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_10{background: url(../../resources/images/school_mo_M_sec4_10.png) center no-repeat;}
.school_mo_wrap .sec4 .swiper_btn{width: 409px;}
.school_mo_wrap .sec4 .swiper_btn .on, .school_mo_wrap .sec4 .swiper_btn .active{background: #70E66A;color: #2B2F44;}
.school_mo_wrap .sec5 .sec5_con_01{padding-top: 60px;}
.school_mo_wrap .sec5_con_02{background: url(../../resources/images/school_mo_M_sec5_01.png) center no-repeat; width: 340px;height: 343px;}
@media (max-width: 420px){
.school_mo_wrap .sec1_swiper_01{background: url(../../resources/images/school_mo_visual_S_01.jpg) center no-repeat;}
.school_mo_wrap .sec1_swiper_02{background: url(../../resources/images/school_mo_visual_S_02.jpg) center no-repeat;}
.school_mo_wrap .sec1 .visual_text{padding-top: 16px;}
.school_mo_wrap .sec2_con_01{position:relative;width: 320px;background: #FFFFFF;box-shadow: 0px 4.37785px 8.7557px rgba(52, 87, 140, 0.12);border-radius: 24px;}
.school_mo_wrap .sec2_con_01_desc{padding-left: 18.24px;padding-top: 37.71px;font-size: 10px;color: #667085;}
.school_mo_wrap .sec2 .sec2_img_01{background: url(../../resources/images/school_mo_S_sec2_01.png) center no-repeat;width: 295px;height: 187px;margin: 18px auto 0;}
.school_mo_wrap .sec2_con_01 .graph_texts{position:relative;display: flex;flex-direction: column;gap: 16px;padding-left: 42px;padding-bottom: 51.06px;font-weight: 600;font-size: 16px;line-height: 140%;color: #3E4A62;text-align: left;}
.school_mo_wrap .sec2_con_01 .graph_texts li p{margin-top: 30px;margin-left: 0;line-height: 22px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_02 dl{padding-bottom: 0;padding-left: 0;font-weight: 500;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_03 dl{padding-bottom: 0;padding-left: 0;font-weight: 500;}   
.school_mo_wrap .sec2_con_01 .graph_texts  li dt{text-decoration-line: underline;padding-top: 8px;padding-bottom: 9.71px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_02{padding-top: 10px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_02::before{top: 80px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_03{padding-top: 10px;}
.school_mo_wrap .sec2_con_01 .graph_texts .graph_text_03::before{top: 254px;}
.school_mo_wrap .sec2 .sec2_con{padding-top: 16px;padding-bottom: 80px;}
.school_mo_wrap .sec3 .sec3_con{padding: 0;display:block}
.school_mo_wrap .sec3 .sec3_con .con_title{padding-top: 16px;font-weight: 700;line-height: 22px;}
.school_mo_wrap .sec3 .sec3_img_01{background: url(../../resources/images/school_mo_S_sec3_01.png) center no-repeat;width: 315px;height: 421px;margin-top: 40px;margin-bottom: 56.84px;}
.school_mo_wrap .sec4 .sec4_img_01{background: url(../../resources/images/school_mo_S_sec4_01.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_02{background: url(../../resources/images/school_mo_S_sec4_02.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_03{background: url(../../resources/images/school_mo_S_sec4_03.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_04{background: url(../../resources/images/school_mo_S_sec4_02.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_05{background: url(../../resources/images/school_mo_S_sec4_05.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_06{background: url(../../resources/images/school_mo_S_sec4_06.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_07{background: url(../../resources/images/school_mo_S_sec4_07.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_08{background: url(../../resources/images/school_mo_S_sec4_08.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_09{background: url(../../resources/images/school_mo_S_sec4_09.png) center no-repeat;}
.school_mo_wrap .sec4 .sec4_img_10{background: url(../../resources/images/school_mo_S_sec4_10.png) center no-repeat;}
.school_mo_wrap .sec6{padding-top: 0;}
}

