/* reset */
*,
*:before,
*:after{box-sizing: border-box;}
html,body,div,span,iframe,object,embed,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,a,abbr,address,b,bdo,blockquote,cite,code,del,dfn,p,pre,em,i,ins,kbd,q,s,samp,strong,sub,sup,u,var,img,map,area,form,fieldset,legend,input,textarea,select,button,label,keygen,table,caption,thead,tbody,tfoot,tr,th,td,article,aside,audio,bdi,canvas,datalist,details,dialog,figcaption,figure,footer,header,main,mark,menu,menuitem,meter,nav,output,progress,section,rp,rt,ruby,summary,time,video,wbr,hr{margin: 0; padding: 0;}
html,body{width: 100%; height: 100%;}
html{overflow-y: scroll;}
body{font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; font-size:14px; color:#333;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-font-smoothing: antialiased;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary{display:block;}
h1,h2,h3,h4,h5,pre,input,button,select,textarea{font: inherit;}
input,button,select,textarea{color: inherit;-webkit-appearance: none; border-radius: 0;}
a{color: inherit; text-decoration: none;}
a, a:link{color:#333;text-decoration:none;}
a:visited{color:#333; }
a:hover, a:active{color:#333;text-decoration:none;}
input, select, label, img, button{vertical-align: middle;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
img, video{border:0; vertical-align:top;}
fieldset{border:0; min-width:0; width:100%}
ul, ol, dl{list-style:none;}
ol{margin-left: 15px;}
a,button,label{cursor: pointer;}
button{background: transparent;	border: 0;}
i,em,address{font-style: normal;font-weight:normal;}
a{color: inherit; -webkit-tap-highlight-color: transparent;}
a[href]{color: inherit; -webkit-tap-highlight-color: inherit;}
abbr{text-decoration: none;}
.blind,legend,hr,caption{display:block; overflow:hidden; position:absolute; top:0; left:-1000em;}
.hidden, #skipNav{display: block; position: absolute; left:-1000%; top:0; width: 1px; height: 1px;overflow: hidden; color: #fff;}

/* 폰트 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


/* scrollbar */
*::-webkit-scrollbar{width:4px; height:6px; background-color: transparent;}
*::-webkit-scrollbar-track{background-color: transparent;}
*::-webkit-scrollbar-thumb{background-color: #E6E8F1; border-radius:3px; padding-left: 20px;}

/* padding / margin */
.pd0{padding: 0 !important;}
.pdt32{padding-top: 32px !important;}
.pdl10{padding-left: 10px !important;}
.mg0{margin: 0 !important;}
.mgt0{margin-top: 0 !important;}
.mgb0{margin-bottom: 0 !important;}
.mgl5{margin-left: 5px !important;}
.mgl10{margin-left: 10px !important;}
.mgt4{margin-top: 4px !important;}
.mgt8{margin-top: 8px !important;}
.mgb8{margin-bottom: 8px !important;}
.mgt10{margin-top: 10px !important;}
.mgt12{margin-top: 12px !important;}
.mgb12{margin-bottom: 12px !important;}
.mgt16{margin-top: 16px !important;}
.mgb16{margin-bottom: 16px !important;}
.mgb18{margin-bottom: 18px !important;}
.mgt24{margin-top: 24px !important;}
.mgb24{margin-bottom: 24px !important;}
.mgb26{margin-bottom: 26px !important;}
.mgt32{margin-top: 32px !important;}
.mgb32{margin-bottom: 32px !important;}
.mgt40{margin-top: 40px !important;}
.mgt50{margin-top: 50px !important;}
.mgb50{margin-bottom: 50px !important;}
.mgb55{margin-bottom: 55px !important;}
.mgt60{margin-top: 60px !important;}
.mgb60{margin-bottom: 60px !important;}
.mgt80{margin-top: 80px !important;}

